.containerProjects{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1040px;
  margin: 5rem auto;
  align-items: center;
  justify-content: center;
}

.lineProjects{
  text-align: center;
  line-height: 1.2rem;
  max-width: 550px;
}


.containerImg{
  display: flex;
  align-items: center;
}