.containerSevices {
  display: flex;
  max-width: 1040px;
  margin: 3rem auto;
  justify-content: space-around;
  align-items: center;

}

.containerLeftSevices {
  max-width: 400px;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.linkSevices{
  text-align: end;
  color: var(--Primary-Color);
}


.containerRightSevices {
  display: flex;
  gap: 20px;
  width: 400px;
  flex-wrap: wrap;
}